body{
  padding: 0;
  margin: 0;
}
  .drop {
    height: 0; 
    width: 100%; 
    z-index: 1; 
   
       overflow-x: hidden;     
      overflow: hidden;
      transition: height 0.5s;
    padding-left: 20px;
    
  }
  .drop a{
    border: none !important;
  }
  
  
  
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #03202f;
    overflow-x: hidden;
    transition: 0.5s;
    
  }
  .search{
    background-color:#07547b;
    color: #ffffff;
    border-radius: 0;
  }
  .search-bar{
    border-radius: 4px 0 0 4px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px ;
    color: #cec8c8;
    display: block;
    transition: 0.3s;
    text-transform: uppercase;   
    font-weight: 600;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
    padding-left: 35px;
  }
  
  .sidenav .closebtn {
   
    font-size: 36px;
   position: absolute;
   right: 0;
  }
  .underline{
    height: 4px;
    width: 70px;
    background-color: #c81e1e;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
  }
  .naow{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
.profile-mage img{
  height: 22vh;
  width: auto;
 
  
}
.profile-mage{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7vh;
 
}
.add-links{
  list-style-type: none;
  padding: 0;
 text-transform: capitalize;
 font-weight: 600;
 font-size: 17px;
 box-shadow: -3px -3px 15px #b3b4b4;
 padding: 35px 30px;

}
.profile{
  align-items: center;
    display: flex;
    height: 100vh;
}
.tabular{

margin-top: 30px;
}
.add-links li{
 border-bottom: 2px solid #0f0f0f;
  padding: 12px 0;
  cursor: pointer;
}
.add-links .active {
  border-bottom: 2px solid #c81e1e;
  

 }
 .add-links .active-2 {
  color: #c81e1e;
 }
.add-links li i{
  color: #0c0c0c;
}
.brown{
  color: #c81e1e;
}
.address-info{
  width: 100%;
  box-shadow: 3px -3px 15px #b3b4b4;
  margin: 20px 20px;
  padding: 10px 30px;

}
.form-input{
  width: 100%;
  height: 33px;
  border-radius: 4px;
  outline: none;
  border: 1px solid rgb(202, 199, 199);
}
.form-input::placeholder{
  padding-left: 10px;
}
.submit{
  width: 100%;
  color: white;
  background-color: #03202f;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  padding: 10px 0;
  margin-bottom: 10px;
  
}
.head{
  font-size: 40px;
  font-weight: 900;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin: 0;
  text-transform: capitalize;
}
.borders {
  border: #03202f solid 2px;
  border-radius: 8px;
  box-shadow: -2px 2px 17px rgb(143, 143, 143);
  padding: 10px 20px;
  margin-top: 20px;
}
.width{
  width: 100%;
}
.eye-d {
  position: relative;
  bottom: 47px;
  right: 10px;
  float: right !important;
  color: #000;
}
#eye-2{
  display: none;
  color: #000;
}
.eye-e {
  position: absolute;
  display: inline-block;
 margin-top: 10px;
  right: 336px;
  text-align: right;
  color: #000;
}
#eye-3{
  display: none;
  color: #000;
}
.width-sig{
  width: 100%;
}
 
  @media screen and (max-width: 600px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 15px;}
    .siz-imge{
      height: 25vh !important;
    }
  }
  @media screen and (min-width: 992px) {
    .width{
      width: 32%;
    }
    .width-sig{
      width: 60%;
    }
  }